.itemContent p {
    margin-bottom: 1rem;
    word-break: break-all ;
    word-wrap:break-word
}
.itemContent img {
    border-radius: .5rem;
}
.feedEkList li:last-child {
    border-bottom: none;
}
.itemContent p a {
    --tw-text-opacity: 1;
    color: rgb(28 100 242/var(--tw-text-opacity));
    font-weight: 500;
}

.itemContent p a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }
.itemTitle a{
    word-break: break-all ;
    word-wrap:break-word
}
blockquote p {
    display:none
}
blockquote b {
    --tw-text-opacity: 1;
    color: rgb(28 100 242/var(--tw-text-opacity));
    font-weight: 500;
}
blockquote b a {
    --tw-text-opacity: 1;
    font-weight: 300;
    color: rgb(107 114 128/var(--tw-text-opacity));
}

blockquote img {
    margin: 5px 0 2px 0;
}
blockquote {
    border-left:.125rem solid #3390ec;
padding-left:15px;
    
}

