.itemContent p {
    margin-bottom: 1rem;
    word-break: break-all ;
    word-wrap:break-word
}
.itemContent img {
    border-radius: .5rem;
}
.feedEkList li:last-child {
    border-bottom: none;
}
.itemContent p a {
    --tw-text-opacity: 1;
    color: rgb(28 100 242/var(--tw-text-opacity));
    font-weight: 500;
}

.itemContent p a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }
.itemTitle a{
    word-break: break-all ;
    word-wrap:break-word
}
blockquote p {
    display:none
}
blockquote b {
    --tw-text-opacity: 1;
    color: rgb(28 100 242/var(--tw-text-opacity));
    font-weight: 500;
}
blockquote b a {
    --tw-text-opacity: 1;
    font-weight: 300;
    color: rgb(107 114 128/var(--tw-text-opacity));
}

blockquote img {
    margin: 5px 0 2px 0;
}
blockquote {
    border-left:.125rem solid #3390ec;
padding-left:15px;
    
}
.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg,#1d4a8c 30%,rgba(29,74,140,0) 60%);
}
#meduza {
    background-color: rgb(91, 155, 230);
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.vkuiBanner__subheader {
    max-width: 522px;
}

#album-unreleased {
        background-color: white;
        background-repeat: no-repeat;
}
#album-10th {
    background-color: white;
    background-repeat: no-repeat;
}
.bck-album-10th {
    background: url("https://www.incredibox.com/img/album-10th-anniversary.png") right center / contain;
}
 .bck-album {
    background: url("https://www.incredibox.com/img/album-unreleased-new.png") right center / contain;
}
#album-unreleased .gradient {
    background-image:linear-gradient(-50deg,rgba(29,74,140,0),rgba(29,74,140,0),rgba(29,74,140,.3) 100%)
}
#album-10th .gradient {
    background-image:linear-gradient(-50deg,rgba(196,138,12,0),rgba(196,138,12,0),rgba(196,138,12,.3) 100%)
}
 .bck-album, .bck-album-10th {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: 3%;
    background-repeat: no-repeat;
  }
  .bloc {
    padding: 96px;
  }
  @media only screen and (max-width: 1280px){
  .bloc {
    padding: 72px;
  }}
    @media only screen and (max-width: 1440px){
  .bloc {
    padding: 96px 72px;
  }
  .vkuiBanner__subheader {
    max-width: 400px;
}
}
  @media only screen and (max-width: 1024px){
  .bloc {
    padding: 72px 48px;
  }
  .vkuiBanner__subheader {
    max-width: 300px;
}
}
  @media only screen and (max-width: 768px){
  .bloc {
    padding: 72px 36px;
  }
  .vkuiBanner__subheader {
    max-width: 259px;
}
}
  @media only screen and (max-width: 700px){
  .bloc {
    padding: 48px 18px;
  }}
@media only screen and (max-width:860px) {
     .bck-album, .bck-album-10th {
     background-size:85%;
     background-position:-210%
    }
}
@media only screen and (max-width: 1024px){
 .bck-album, .bck-album-10th {
  background-size: 63%;
  background-position: -29%;
}}
@media only screen and (max-width: 700px){
 .bck-album, .bck-album-10th {
  background-size: 100%;
  background-position: top;
}.album-txt {
    width: 100%;
padding-top: 65%;
align-items: center;

}
.vkuiBanner__subheader {
    max-width: 100%;
}
}


@media (min-width:759px) {
    #meduza {
        background-size: 70%;
        background-position: right center;
        background-color: rgb(91, 155, 230);
         background-image: url('https://www.incredibox.com/img/home-v5-artwork1.jpg');
    }
}

@media (max-width:700px) {
    .gradient {
        background-image: linear-gradient(90deg,#1d4a8c  30%,rgba(29,74,140,0) 100%) ;
        
    }
}
@media (max-width:650px) {
    .gradient {
        background-image: linear-gradient(90deg,#1d4a8c  30%,rgba(29,74,140,0) 120%);
    }
}